// Sets up the grid behaviours
// 

.responsive--full {
	width: 100%;
	height: auto;
}

html {
	font-size: 14px;
	font-weight: 100;
}

.h1,h1 {
	font-size: 1.7rem;
	font-weight: 900;
}
.h2,h2 {
	font-size: 1.45rem;
	font-weight: 300;
}

.h3, h3 {
	font-size: 1.25rem;
	font-weight: 300;
}

.h4, h4 {
	font-size: 1rem;
	font-weight: 300;
}

//trsnsitions

section, h1, li, img, .grid, .article {
    transition: width 1s ease-in-out;
    transition: height 1s ease-in-out;
}


.nav-link .fa-plus {
	display: inherit;
}
.nav-link.active .fa-plus {
	display: none;
}
.nav-link.active .fa-minus {
	display: inherit;
}
.nav-link .fa-minus {
	display: none;
}  


// Modal

.modal-content {
	background-color: rgba(0,0,0,0.7);
}
.modal-header {
	border-bottom: none;
} 


//Preloader

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 649px;
    max-width: 90%;
    height: 216px;
    max-width: 50%;
	background-image: url('../images/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;	


    z-index: 1001;
}

 
   



    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.9s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.9s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.9s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.9s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    } 


    //Modal Styles
    
    .ekko-lightbox.modal.fade.in {

    	.ekko-lightbox-nav-overlay {
    		height: 100%;
		    position: absolute;
		    top: 0;
		    width: 100%;

		    a {
		    	width: 50%;
			    position: absolute;
			    display: block;
			    height: 100%;

			    &:first-of-type {
			    	left: 0;
			    }
			    &:last-of-type {
			    	right: 0;
			    }

			    span {
			    	display: none;
			    }
		    }
    	}
    }
     


@include media-breakpoint-up(xs) { 
	//... 
}
@include media-breakpoint-up(sm) {  
	html, body, .wrapper {
		height: 100%;
	}

}
@include media-breakpoint-up(md) { 
	//... 
}
@include media-breakpoint-up(lg) { 
	//... 
}
@include media-breakpoint-up(xl) { 
	//... 
}

