



body {
	background-color: #000;
	color: $text-color;
}

header {
		&.banner {
			position: relative;
			.header-inner {
				padding-top: 20px;
			}

			.bg-inverse {
				background-color: inherit !important;
			}	

			.brand {
				display: block;
				transition: opacity .25s ease-out;
				transition: top .25s ease-out;
				position: relative;
				display: none;
				padding-bottom: 20px;
				max-width: 40%;
				

				&:hover, &:focus {
					opacity: 0.4;
				}
			}

			.navbar-toggler {
				float: right;
				color: #fff;
				font-size: 2.0rem;
			}
		}
	}

//Font awesome Nav Icons

.active .active {
	display: inherit;
}

@include media-breakpoint-up(xs) { 
	//... 
	
	
}
@include media-breakpoint-down(sm) { 
	#navbarCollapse {
		background: rgb(34, 34, 34);
	    padding: 20px 10px;
	    line-height: 1.6;
	    font-size: 1.4rem;
	}
}


@include media-breakpoint-up(md) {  
	header {
		&.banner {
			background-color: rgba(0,0,0,0.4);
			padding-top: 20%;
			padding-bottom: 5%;
			position: fixed;
			height: 100%;

			.header-inner {
				height: 100%;
				position: relative;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 0;
				
				nav.navbar {
					height: 100%;
					padding: 0;
				}
				ul.nav {
					font-size: 1.5rem;
					line-height: 2.0;

					ul {
						padding-left: 20px;
						padding-bottom: 20px;

					}

					.menu-item {
						&.current-menu-item, &.current-talent-ancestor {
							font-weight: 700;
						}

						&.talent h1 {
							padding-top: 20px;
	    					font-size: 1.8rem;
						}
					}


				}
				.brand {
					top: -140px;
					position: absolute;
					max-width: inherit;
				}
				.nav-primary {
					border-top: 2px solid #fff;
				    padding-top: 40px;
				    margin-top: 0px;
				}
				.nav-secondary {
					position: absolute;
					bottom: 0;
					width: 100%;
					border-bottom: 2px solid #fff;
				}


			}
		}
	}

}
@include media-breakpoint-up(md) { 
	//... 
}
@include media-breakpoint-up(lg) { 
	header {
		&.banner {
			padding-top: 10%;
		}
	}
	 
}
@include media-breakpoint-up(xl) { 
	//... 
}