


.wrap {
min-height: 100%;
padding: 0% 5% 5%;
	@include media-breakpoint-up(md) {  
	padding-top: 20%;
	}
	.content {
		min-height: 100%;
		font-size: 1.42rem;
		.main {
			padding-right: 0;
			padding-left: 0;
				
			.grid {
				padding-bottom: 20px;

				@include media-breakpoint-up(lg) {  
					padding-bottom: 40px;
				}
				
				&:nth-last-child(-n+1) {
						padding-bottom: 0;
				}

				@include media-breakpoint-up(lg) {  
					
					&:nth-last-child(-n+2) {
						padding-bottom: 0;
					}
				}
					a {
						color:rgba(255,255,255,.85);
						display: block;	
						&:hover, &:focus {
								text-decoration: none;
								color: #ddd;
						}
					}

					article {
						height: 40%;
						background-color: #888;
						background-size: cover;
						background-position: center;
						position: relative;
						font-size: initial;


						header {
							position: absolute;
							bottom: 0;
							width: 100%;
							background: rgba(0,0,0,0.4);
							text-align: right;
							padding-left: 15px;
							padding-right: 15px;
							padding-top: 5px;
							padding-bottom: 5px;
							transition: opacity .25s ease-out;


						}

						.overlay {  
						  background:rgba(0,0,0,.75);
						  height: 100%;
						  opacity:0;
						  transition: opacity .25s ease-out;
							
						.overlay-text {
							  color:rgba(214,214,214,.85);
							  padding: 10%;
							  text-align: center;
							
								

							}

						}

						&:hover, &:focus {
						  .overlay { 
						    opacity:1;
						  }
						  header {
						  	opacity: 0;
						  }
						}
					}
				}
				#gallery-tab {
					.portfolio-thumb-holder {
						margin-bottom: 15px;
						a {
							background-position: center;
		    				background-size: cover;
		    				
		    			}
    				}
				}
		}
	}

}

@include media-breakpoint-up(lg) { 
.wrap {
	padding-top: 10%;
	}
}


// Pages specific styles 

//General pages

// Contact Page
.contact .wrap main .page-header h1 {
	display: none;
}


